.BigMain[Emp=true] .ADD-Emp {
    width: 100%;
    padding: 20px !important;
    overflow: auto;
    
}

.BigMain[Emp=true] .ADD-Emp::-webkit-scrollbar {
    width: 20px;
}

.BigMain[Emp=true] .ADD-Emp::-webkit-scrollbar-track {
    background-color: rgb(41, 41, 41);
}

.BigMain[Emp=true] .ADD-Emp::-webkit-scrollbar-thumb {
    background-color: #0e2b3a;
}